.menuHeading {
  --color: #751616;
  --background: #bfbfbf;
}

.my-custom-menu {
  --width: 400px;
}

.currentPage {
  --color: orange;
}

.footerText {
  text-align: center;
}

.objective {
  box-shadow: 0px 14px 25px lightskyblue;
}

ion-card {
  border-radius: 10px;
}