<!-- Side Menu -->
<ion-menu side="start" menuId="sideMenu" contentId="main">
  <!-- Header of the menu -->
  <ion-header>
    <ion-toolbar class="menuHeading">
      <!-- Title -->
      <ion-title>Simple News</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content of the menu -->
  <ion-content>
    <!-- Available Pages to pick on the menu -->
    <ion-list>
      <ion-item class="ion-activatable ion-ripple-effect" (click)="homePage()">Newsfeed</ion-item>
      <ion-item class="currentPage ion-activatable ion-ripple-effect" (click)="aboutPage()">About Us</ion-item>
      <ion-item class="ion-activatable ion-ripple-effect" (click)="contactPage()">Contact Us</ion-item>
      <ion-item class="ion-activatable ion-ripple-effect" (click)="settingsPage()">Settings</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Menu back button with colour -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Menu button -->
      <ion-menu-button></ion-menu-button>
      <!-- Colour -->
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Ion Content with all contents of about page -->
<ion-content class="ion-text-center" padding="true">
  <!-- H2 - Title -->
  <h2>My Objective</h2>
  <br>
  <!-- Ion card with objective -->
  <ion-card class="objective">
    <!-- H4 description -->
    <h4 class="ion-text-center">Is to keep you all up to date with the latest news in Ireland.</h4>
  </ion-card>
  <br><br>
  <!-- Ion list with brief explanation of the purpose of this app. -->
  <ion-list>
    I believe that everyone deserves to be updated on everything especially in times like this, where most of us are staying at home. Many people are using their phones to read articles, this is the idea of this app.
  </ion-list>
</ion-content>

<!-- Footer - With the information about NewsAPI giving the articles to this app. -->
<ion-footer>
  <p class="footerText"><i>News articles delivered by NewsAPI.org</i></p>
</ion-footer>

<ion-router-outlet id="main"></ion-router-outlet>