<ion-menu side="start" menuId="sideMenu" contentId="main">
  <ion-header>
    <ion-toolbar class="menuHeading">
      <ion-title>Simple News</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item class="ion-activatable ion-ripple-effect" (click)="homePage()">Newsfeed</ion-item>
      <ion-item class="ion-activatable ion-ripple-effect" (click)="aboutPage()">About Us</ion-item>
      <ion-item class="currentPage ion-activatable ion-ripple-effect" (click)="contactPage()">Contact Us</ion-item>
      <ion-item class="ion-activatable ion-ripple-effect" (click)="settingsPage()">Settings</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;" fullscreen="true">
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
  <br><br>
  <ion-label>Please contact us using the form below. Make sure to fill all boxes.</ion-label>
  <br><br>
  <ion-item>
    <ion-label position="fixed">Name</ion-label>
    <ion-input type="text" (click)="openKeyboard()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">E-Mail</ion-label>
    <ion-input type="email" (click)="openKeyboard()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Message</ion-label>
    <ion-textarea clearOnEdit="true" type="text" (click)="openKeyboard()"></ion-textarea>
  </ion-item>
  <br>
  <ion-button expand="block" size="default" strong="true">Submit</ion-button>
</ion-content>

<ion-router-outlet id="main"></ion-router-outlet>