<ion-menu side="start" menuId="sideMenu" contentId="main">
  <ion-header>
    <ion-toolbar class="menuHeading">
      <ion-title>Simple News</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item class="ion-activatable ion-ripple-effect" (click)="aboutPage()">About Us</ion-item>
      <ion-item class="ion-activatable ion-ripple-effect" (click)="contactPage()">Contact Us</ion-item>
      <ion-item class="ion-activatable ion-ripple-effect" (click)="settingsPage()">Settings</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>